html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;

    background-image: linear-gradient(to bottom right, #67C1CA, white);

}

#centered-button-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#computer-play-button {
    margin: auto
}

#game-area-container{
    padding-top: 10vh;
    padding-right: 0;
    padding-left: 0;
}

.board-container {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    display: grid;
    height: 50vh;
    width: 50vh;
    row-gap: 0px;
    column-gap:0px;
    /* box-sizing:initial; */
    background-color:white;
}

.board-field {
    background-color: white;
    border: 1px solid black;
    /* height: 1em;
    width: 1em */
}

h3 {
    text-align: center;
}

.player-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visible-ship{
    background-color: black;
}

.hit-field{
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='black' stroke-width='1'/><path d='M0 0 L100 100 ' stroke='black' stroke-width='1'/></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
}

.hit-ship{
    background-color: red;
}